.shopping-cart__title {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.shopping-cart__item-header,
.shopping-cart__items {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 3fr;
}

.shopping-cart__item-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
    padding: 1rem 0;
    color: var(--color-primary);
  }
  border-bottom: 1px solid var(--color-primary);
  margin: 1rem 0 0;
}
.shopping-cart__items {
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-primary);
}
.cart-items__image_name {
  display: flex;
  p {
    font-weight: 500;
    padding-right: 0.5rem;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: var(--theme-blue);
  }
  img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
}

.cart-items__quantity {
  display: flex;
  align-items: center;
  height: 40px;
  button {
    height: 40px;
    width: 40px;
    border: none;
    color: white;
    background-color: var(--theme-blue);
  }
  p {
    margin: 0 10px;
  }
}

.cart-items__quantity,
.cart-items__price,
.cart-items__total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.shopping-cart__pricing {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.shopping-cart__pricing-subtotal,
.shopping-cart__pricing-tax,
.shopping-cart__total {
  margin: 0.4rem 0;
  p {
    font-size: 1rem;
    color: var(--color-primary);
  }
  p:nth-child(2) {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--theme-blue);
  }
}

.shopping-cart__total {
  p:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
    color: var(--theme-blue);
  }
}

.shopping-cart__action_btn {
  margin: 1rem 0 3rem;
  display: flex;
  justify-content: flex-end;

  button {
    padding: 1rem 1.4rem;
    border: none;
    font-size: 1rem;
    background-color: white;
    border: 1px solid var(--theme-blue);
    color: var(--theme-blue);
    cursor: pointer;
  }

  button:nth-child(2) {
    background-color: var(--theme-blue);
    color: white;
    margin-left: 1rem;
    padding: 1rem 2rem;
    border: 1px solid var(--theme-blue);
  }
}

@media screen and (max-width: 1000px) {
  .cart-items__image_name {
    display: block;
    p {
      width: 80%;
    }
  }
}

@media screen and (max-width: 700px) {
  .shopping-cart__item-header {
    display: none;
  }
  .shopping-cart__items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
  .cart-items__image_name {
    display: flex;
    margin-bottom: 0.5rem;
  }

  .cart-items__quantity,
  .cart-items__quantity-button,
  .cart-items__price,
  .cart-items__total-price {
    width: fit-content;
  }
}

.cart-items__price {
  display: none;
}
