.navbar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.navbar__container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__searchbar {
  width: 500px;
  height: 48px;
  display: flex;
  align-items: center;
  input[type="search"] {
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;

    padding: 0 1rem;
    background: #ffffff;
    border: 2px solid #f6f7fb;
    border-right: none;
    outline: none;
    margin: 0 !important;

    font-family: var(--font-family);
    font-size: 18px;
    line-height: 27px;
  }

  button {
    height: 100%;
    width: 48px;
    color: #ffffff;
    background-color: var(--theme-blue);
    border: 1px solid var(--theme-blue);
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.navbar__icon-menu__btn {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    font-size: 2rem;
    color: var(--theme-blue);
    margin: 0 1rem;
  }

  button {
    padding: 0.7rem 1.5rem;
    background-color: var(--theme-blue);
    outline: none;
    border: none;
    color: #ffffff;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
}

.navbar__mobile-hamburger {
  display: none;
}

.navbar__container-menu {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  a {
    margin: 0 1.5rem;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 27px;

    color: var(--theme-blue);
  }
}

@media screen and (max-width: 1000px) {
  .navbar__container-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar__searchbar {
    display: none;
  }

  .navbar__icon-menu__btn {
    .navbar__sign-in {
      display: none;
    }
  }

  .navbar__mobile-hamburger {
    display: block;
    z-index: 3;
  }

  .navbar__container-menu {
    display: none;
  }

  .navbar__mobile-menu {
    z-index: 2;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 70vw;
    background-color: var(--theme-blue);
    color: white;

    a {
      color: rgb(211, 206, 206);
      margin: 1rem 0;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;

      &:hover {
        color: white;
      }
    }
    .navbar__mobile__button {
      padding: 0.7rem 5rem;
      margin: 1rem 0;
      color: var(--theme-blue);
      background-color: white;
      border: none;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

@media (max-width: 768px) {
  .navbar__mobile-menu {
    a {
      font-weight: 600;
      font-size: 25px;
      line-height: 35px;
    }
  }
}
