.fp__container-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  h4 {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: var(--theme-blue);
  }

  a {
    display: flex;
    align-items: center;
    color: var(--theme-blue);
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    font-family: var(--font-family);
    svg {
      width: 24px;
      height: 24px;
      margin-left: 1rem;
    }
  }
}

.fp__container-section {
  display: grid;
  grid-template-columns: 1.5fr 4.5fr;
  grid-gap: 0 2rem;
}

.fp__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
    object-fit: contain;
    object-fit: cover;
  }

  h1 {
    margin: 1rem 0;
    font-family: var(--font-family);
    font-size: 22px;
    line-height: 30px;
  }

  p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 1000px) {
  .fp__container-section {
    display: block;

    .fp__banner {
      max-height: 500px;

      img {
        width: 30%;
        margin: 2rem 0 1rem;
      }

      h1 {
        margin: 0rem 0rem 0.5rem;
      }
      p {
        margin: 0 0 2rem;
      }
    }
  }

  .fp__products {
    grid-template-columns: 1fr;
    place-items: center;
    margin: 2rem 0;

    .productCard {
      max-width: 100%;
      max-height: 100%;

      .productCard__image {
        max-height: 100%;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .fp__container-section {
    .fp__banner {
      img {
        width: 60%;
      }
    }
  }
}
